# Formatting of the frontend after the Google JavaScript style guide
# (https://google.github.io/styleguide/jsguide.html). Not part of the build:
#   uvx clang-format -i web/sw.js web/assets/js/*.js web/assets/js/*/*.js
---
Language: JavaScript
BasedOnStyle: Google
ColumnLimit: 80
JavaScriptQuotes: Single
JavaScriptWrapImports: false
MaxEmptyLinesToKeep: 1
# A trailing comma in wrapped array and object literals, as the guide asks.
# clang-format only adds it without bin-packing the arguments.
InsertTrailingCommas: Wrapped
BinPackArguments: false
